<nav>
    <ul>
        <li><a class="logo" href="index.html">BGGAMES</a></li>
        <li class="menu-agentes"><a href="pages/agents.html">AGENTES</a>
            <div class="menu-1">
                <ul>
                    <li class="hover-sub-1"><a href="#">Controladores</a>
                        <div class="sub-menu-1">
                            <ul>
                                <li><a href="pages/agents.html#astra" target="_self" rel="next">Astra</a></li>
                                <li><a href="pages/agents.html#brimstone"target="_self" rel="next">Brimstone</a></li>
                                <li><a href="pages/agents.html#harbor"target="_self" rel="next">Harbor</a></li>
                                <li><a href="pages/agents.html#omen"target="_self" rel="next">Omen</a></li>
                                <li><a href="pages/agents.html#viper"target="_self" rel="next">Viper</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="hover-sub-2"><a href="#">Duelistas</a>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="pages/agents.html#jett"target="_self" rel="next">Jett</a></li>
                                <li><a href="pages/agents.html#neon"target="_self" rel="next">Neon</a></li>
                                <li><a href="pages/agents.html#raze"target="_self" rel="next">Raze</a></li>
                                <li><a href="pages/agents.html#reyna"target="_self" rel="next">Reyna</a></li>
                                <li><a href="pages/agents.html#phoenix"target="_self" rel="next">Phoenix</a></li>
                                <li><a href="pages/agents.html#yoru"target="_self" rel="next">Yoru</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="hover-sub-3"><a href="#">Iniciadores</a>
                        <div class="sub-menu-3">
                            <ul>
                                <li><a href="pages/agents.html#breach"target="_self" rel="next">Breach</a></li>
                                <li><a href="pages/agents.html#fade"target="_self" rel="next">Fade</a></li>
                                <li><a href="pages/agents.html#gekko"target="_self" rel="next">Gekko</a></li>
                                <li><a href="pages/agents.html#kayo"target="_self" rel="next">Kay/O</a></li>
                                <li><a href="pages/agents.html#skye"target="_self" rel="next">Skye</a></li>
                                <li><a href="pages/agents.html#sova"target="_self" rel="next">Sova</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="hover-sub-4"><a href="#">Sentinelas</a>
                        <div class="sub-menu-4">
                            <ul>
                                <li><a href="pages/agents.html#chamber"target="_self" rel="next">Chamber</a></li>
                                <li><a href="pages/agents.html#cypher"target="_self" rel="next">Cypher</a></li>
                                <li><a href="pages/agents.html#killjoy"target="_self" rel="next">Killjoy</a></li>
                                <li><a href="pages/agents.html#sage"target="_self" rel="next">Sage</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li> 
        <li class="menu-map"><a href="#">MAPAS</a>
            <div class="mapas">
                <ul>
                    <li><a href="#">Bind</a></li>
                    <li><a href="#">Breeze</a></li>
                    <li><a href="#">Haven</a></li>
                    <li><a href="#">Icebox</a></li>
                    <li><a href="#">Lotus</a></li>
                    <li><a href="#">Split</a></li>
                </ul>
            </div>
        </li>
        <li class="menu-sobre"><a href="#">SOBRE</a></li>
        <li class="menu-contato"><a href="#">CONTATO</a></li>
        <li class="menu-login"><a href="#">LOGIN</a></li>
    </ul>
</nav>