
<%- include('partials/header.ejs')  %>

    <title>APLICAÇÃO WEB - LIBRI</title>

</head>

<body>
    

        <%- include('partials/menu.ejs')  %>

    </div>

</body>

<%- include('partials/footer.ejs')  %>